@mixin cf {
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }  
}

%cf {
  @include cf;
}

@mixin alleys {
  padding: 0 $alley/2;
  margin-bottom: $alley;

  @include breakpoint($bp-med) {
    padding: 0 $alley-med/2;
    margin-bottom: $alley-med;    
  }

  @include breakpoint($bp-lrg) {
    padding: 0 $alley-lrg/2;
    margin-bottom: $alley-lrg;    
  }
}

%alleys {
  @include alleys;
}

%text-with-background {
  display: block;
  width: 100%;
  padding: .5em;
  margin-bottom: .25em;
}

// ======
// Global
// ======

.header-main {
  @extend %alleys;
}

.content-main {
  @extend %cf;
}

.footer-main {
  @extend %alleys;
}

// =====
// Front
// =====

.splash,
.upcoming-show {
  @extend %cf;

  .date {
    float: left;
  }

  .show-title {
    font-size: 250%;
  }
}

// =======
// Gallery
// =======

.gallery-about,
.gallery-upcoming {
  @extend %alleys;
}

.gallery-pictures {
  @extend %cf;

  header {
    @extend %alleys;
  }

  & > img {
    @extend %one-half;
    @extend %alleys;

    @include breakpoint($bp-med-to-lrg) {
      @include one-third;
    }
  }
}

// =======
// Booking
// =======

.booking-explanation,
.booking-band,
.booking-promoter {
  @extend %alleys;
}