@mixin default-font {
  font-family: 'SourceSansProRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
%default-font {
   @include default-font;
}




@mixin default-font-italic {
  font-family: 'SourceSansProItalic';
}
%default-font-italic {
   @include default-font-italic;
}




@mixin default-font-bold {
  font-family: 'SourceSansProBold';
}
%default-font-bold {
  @include default-font-bold;
}




@mixin alternate-font {
  font-family: 'nevis', Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
}
%alternate-font {
  @include alternate-font;
}


// Font Styles

.header-primary {
  @extend %default-font-bold;
  text-transform: uppercase;
  font-size: $font-med;

  @include breakpoint($bp-med){
    font-size: $font-lrg;
  }
}

%header-secondary {
  @extend %default-font-italic;
  display: block;
  padding: .25rem;
  margin-bottom: .25rem;
  color: $quadernary-color;
  background: $tertiary-color;
  text-align: center;
  text-transform: lowercase;
  font-size: $font-med;
}

.btn {
  @extend %alternate-font;
  display: block;
  color: $quinary-color;
  background: $quadernary-color;
  border: none;
  padding: .25rem;
  margin-bottom: .25rem;
  cursor: pointer;
}