// ========
// Includes
// ========

@import "compass";
@import "toolkit";

// ======
// Colors
// ======

$deep-red:          hsl(355, 67.5%, 50%);
$medium-grey:       hsl(215, 2%, 50%);
$light-grey:        hsl(210, 4%, 90%);
$dark-grey:         hsl(270, 1%, 25%);

$primary-color:     $deep-red;
$secondary-color:   $medium-grey;
$tertiary-color:    $light-grey;
$quadernary-color:  $dark-grey;
$quinary-color:     white;

// ==========
// Typography
// ==========

$main-font-size: 16px;
$default-line-height: 1.25;

$font-sm : .85rem;
$font-med: 1.5rem;
$font-lrg: 2rem;
$font-xlrg: 2.5rem;


// ======
// Layout
// ======

$alley:       .5rem;
$alley-med:   1rem;
$alley-lrg:   1.5rem;


// ================
// Media Directives
// ================

@import "breakpoint";

$breakpoint-to-ems: true;

$bp-med: 600px;
$bp-lrg: 900px;
$bp-xlrg: 1200px;

$bp-med-to-lrg: $bp-med ($bp-lrg - .1);