@include breakpoint($bp-med) {
  .news-article--header,
  .news-article--content {
    width: 50%;
    float: left;
  }
}

@include breakpoint($bp-lrg) {
  .news-article--header {
    width: percentage(1/3);
  }
}